sfGuardUser:
  User_admin:
    first_name:     Regis   
    last_name:      Gravant
    email_address:  rgravant1@ac-reunion.fr
    username:       admin
    password:       admin
    is_super_admin: true
    Groups:         [Group_admin]

sfGuardGroup:
  Group_admin:
    name:           admin
    description:    Administrator group
    Permissions:    [Permission_admin]

sfGuardPermission:
  Permission_admin:
    name:           admin
    description:    Administrator permission
